DATABASE_URL="mysql://root:SUA_SENHA@localhost:3306/corte_fino"
DATABASE_USER="root"
DATABASE_PASSWORD="SUA_SENHA"
DATABASE_NAME="corte_fino"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

MAILTRAP_EMAIL=""
MAILTRAP_SENHA=""

JWT_SECRET="troque_por_um_segredo_forte"
PORT=3000
